myenv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.DS_Store           
*__init__.py
__pycache__/
.env
backend/.venv
backend/__pycache__/
backend/.env
backend/chroma_db/
frontend/node_modules/
frontend/.env
frontend/build/
frontend/package-lock.json
frontend/package.json
